.my-menu {
  //#hook_1
}
//#end;
return {
  hook_1:{
    element:function(){
      return `  box-sizing: border-box;
      .is-active {
        border-radius: 4px;
        background-color: #1677ff;
        color: var(--them-menu-font-color) !important;
      }
    
      :deep(.el-menu-item) {
        color: var(--them-menu-font-color);
        &:hover {
          opacity: 0.7;
          color: var(--them-menu-font-color) !important;
          background-color: var(--them-menu-hove-color);
          border-radius: 4px;
        }
      }`
    },
    antdv:function(){
      return `:deep(.ant-menu-item:not(.ant-menu-item-selected)) {
        &:hover {
          opacity: 0.7;
          background-color: var(--them-menu-hove-color) !important;
        }
      }`
    }
  }
}